$font-h1: 'Pirata One', cursive;
$font-head2: 'Lobster', cursive;
$font-paragraph: 'Oswald', sans-serif;

$color-light: white;
$color-head: black;
$color-2: #616161;
$color-3: #BF9456;

$bg-color1:#23262A;
$bg-color2:#1A1D21;
$bg-color3:#0D0F11;

$cursor-dark:url("img/cursor/cursor-tattoo.png"), auto;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-paragraph;
  font-weight: normal;
  font-size: large;
}

h1 {
  font-family: $font-h1;
  color: $color-light;
  font-size: 7rem;
  letter-spacing: 10px;
  text-align: center;
}

h2 {
  font-family: $font-head2;
  font-size: xx-large;
  text-align: center;
}


h3 {
  font-family: $font-head2;
  font-size: large;
  font-weight: 600;
}

h5, h4, h3 {
  color: $color-head;
}

.hero {
  min-height: 90vh;
  //background: rgba(0, 0, 0, .6);

  h2 {
    color: $color-light;
    font-size: x-large;
    text-align: center;
  }
}

.hero-description {
  p {
    font-size: large;
    color: $color-light;
    display: block;
    text-align: left;
    font-weight: 400;
  }

  h2 {
    text-align: left;
    font-size: 45px;
  }
}

.navbar {
  height: 10vh;
  width: 100vw;
}

.menu-item {
  height: 100%;
  display: inline-block;
}


.dropdown-menu {
  left: auto;
}
.show{
  li {
    border: 1px solid white;
  }
}


.col img {
  width: 100%;
}
#about{
  color: white;
  background-color: $bg-color1;
  padding-bottom: 2rem;
  h2{
    padding-top: 5rem;
    padding-bottom: 1rem;
    color: $color-3;
  }
  .about-description{
    padding: 2rem;
    background-color: $bg-color3;
  }
}

#contraindications {
  background-image: url("img/bg/hqtexture.com.jpg");
  background-size: cover;
  padding-left: 30px;
  padding-bottom: 4rem;

  h2 {
    font-size: 4rem;
    padding-top: 5rem;
  }

  h4 {
    padding: 2rem 0;
  }
}


h5 {
  font-weight: bold;
  font-family: $font-head2;
  padding: 2rem;
}
#works{
  background-color: black;
  color: #BF9456;
  margin: 0;
}
.btn{
  background-color: $color-3;
}

#price{
  background-color: #EAEAEA;
  background-image: url("img/bg/hqtexture.com.jpg");
h2{
  padding: 3rem;
  font-size: 4rem;
}
  h4{
    text-align: center;
    padding: 1rem;
    color: #505050;
    font-weight:bolder;
  }
  .row{
    justify-content: space-around;
  }
  .col{
    border: 2px #505050 solid;
    margin: 2rem;
    background-color: white;
  }
  .price-num{
    color :$color-3;
    font-style: italic;
  }
}
#safe{
  background-color:$bg-color2;
  color: white;
  h2{
    color :$color-3;
    padding: 2rem;
  }
  padding-bottom: 1rem;
}

#singUp{
  cursor:$cursor-dark;
  a{
    color :$color-3;
  }
  .btn{
    float: right;
    margin: 0.5rem;
  }
  h5{
    padding: 1rem;
    text-align: center;
  }
}
.background-hero {
  padding-top: 10vh;
  width: 100%;
  position: relative;
  height: 100vh;
}
#myVideo {
  opacity: 0.9;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1000;
  overflow: hidden;
}



/*------- swiper -----------------*/


.swiper {
  background: #000;
  color: #000;
  margin: 0;
  padding: 0;
  position: relative;
  height: 90vh;
}

.swiper-container {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.gallery-top {
  height: 80%;
  width: 100%;
}

.gallery-thumbs {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.gallery-thumbs {
  .swiper-slide {
    height: 100%;
    opacity: 0.4;
  }

  .swiper-slide-thumb-active {
    opacity: 1;
  }
}

.swiper-button-prev.swiper-button-white, .swiper-button-next.swiper-button-white {
  color: $color-light;
}

//----------media-----------------------

@media (min-width: 500px) {
  .hero-description p {
    font-size: x-large;
  }
  .name-top {
    display: block;
  }
  .name-button {
    display: none;
  }
}

@media (min-width: 992px) {
  li {
    border-bottom: 0;
  }
  .navbar-expand-lg .navbar-nav {
    width: 100%;
    justify-content: center;
  }
  .name-top {
    display: none;
  }
  .name-button {
    display: block;
  }
  .hero-description p {
    font-size: small;
  }
}


