* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	font-size: large;
	color: #616161;
}

h1 {
	font-size: 7rem;
	letter-spacing: 10px;
	font-family: 'Pirata One', cursive;
	text-align: center;
	color: ghostwhite;
}

h2 {
	font-family: 'Bad Script', cursive;
	font-size: xx-large;
	text-align: left;
	margin-bottom: 2rem;
	margin-top: 2rem;
}
.hero h2{
	font-size: x-large;
	text-align: center;
	color: ghostwhite;
}

h3{
	font-family: 'Bad Script', cursive;
	font-size: large;
	font-weight: 600;
}

 .background-hero {
	 padding-top: 10vh;
	min-height: 90vh;
	background-image: url("img/bg/tattoo-1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.hero{
	min-height: 90vh;
	background: rgba(0, 0, 0, .6);
}

.hero-description p {
	font-size:large;
	color: white;
	display: block;
	text-align: left;
	font-weight: 400;
}

.hero-description h2 {
	text-align: left;
	font-size: 45px;
}
.navbar{
	height: 10vh;
	width: 100vw;
}


.footer {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	background-color: black;
	height: 10vh;
	color: ghostwhite;
	font-size: x-large;
}
.menu-item{
	height: 100%;
}
.menu-item{
	display: inline-block;
}
.footer .dropdown{
	display: inline-block;
}


.care, .price, .pain, .safety{

	margin-top: 10vh;
}

/*------------------------*/
.swiper{
	background: #000;
	color: #000;
	margin: 0;
	padding: 0;
	position: relative;
	height: 90vh;
}
.swiper-container {
	width: 100%;
	height: 300px;
	margin-left: auto;
	margin-right: auto;
}

.swiper-slide {
	background-size: cover;
	background-position: center;
}

.gallery-top {
	height: 80%;
	width: 100%;
}

.gallery-thumbs {
	height: 20%;
	box-sizing: border-box;
	padding: 10px 0;
}

.gallery-thumbs .swiper-slide {
	height: 100%;
	opacity: 0.4;
}

.gallery-thumbs .swiper-slide-thumb-active {
	opacity: 1;
}

.swiper-button-prev.swiper-button-white, .swiper-button-next.swiper-button-white {
	color: white;
}

li{
	border-bottom: 1px solid white;
}
@media (min-width: 992px){
li{
	border-bottom:0;
}
}
@media (min-width: 500px) {
	.hero-description p {
		font-size: x-large;
	}
}
.about, .feedback, .singup{
	min-height: 40vh;
}
