* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	font-size: large;
	color: #616161;
}

h1 {
	font-size: 7rem;
	letter-spacing: 10px;
	font-family: 'Pirata One', cursive;
	text-align: center;
	color: ghostwhite;
}

h2 {
	font-family: 'Bad Script', cursive;
	text-align: center;
	color: ghostwhite;
	font-size: x-large;
}

 .background-hero {
	min-height: 100vh;
	background-image: url("img/bg/tattoo-1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.hero{
	min-height: 100vh;
	background: rgba(0, 0, 0, .6);
}

.hero-description p {

	font-size: x-large;
	color: white;
	display: block;
	text-align: left;
	font-weight: 400;
}

.hero-description h2 {
	text-align: left;
	font-size: 45px;
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: black;
	height: 10vh;
	color: ghostwhite;
}
.footer p{
	display: inline-block;
}

.safety h2{
	font-size: xx-large;
	text-align: left;
}

.safety{
padding: 15px;
}

