* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 300vh;
	font-family: 'Open Sans', sans-serif;
}

.hero {
	height: 100vh;
	background-image: url("img/bg/tattoo-1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.wraper-hero {
	height: 100vh;
	background: rgba(0, 0, 0, .6);
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: black;
	text-align: center;
	height: 10vh;
}

h1 {
	font-size: 60px;
	letter-spacing: 5px;
	font-family: 'Pirata One', cursive;
	text-align: center;
	color: ghostwhite;
}

h2 {
	font-family: 'Bad Script', cursive;
	text-align: center;
	color: ghostwhite;
}

.about {
	display: flex;
	flex-flow: wrap;
	padding: 10px 50px;
}

.about-header, .about-description {
	flex: 0 0 50%;
	padding: 20px;
	padding-right: 60px;
}

.about-header {
	font-weight: bold;
	font-size: 60px;
	text-align: right;
}

.about-description {
	margin-top: 20px;
	font-size: large;
}

.about-description p {
	line-height: 1.5;
	font-size: larger;
}

.about-description h2 {
	color: black;
	text-align: left;
	font-size: xx-large;
}
